This is a requirements list for the Python to Matlab Script.
Here is an outline of the packages (and their respective versions) you need for running the script as of the latest version:

Python 3.11 or later https://www.python.org/downloads/
scipy 1.10.1 or later https://scipy.github.io/devdocs/index.html
numpy 1.24.3 or later https://numpy.org/
pandas 2.0.2 or later https://pandas.pydata.org/